@model SistemaPatrimonio.Models.Assistencia

@{
    ViewBag.Title = "Excluir";
}

<h2>Assistencia</h2>

<h3>Deseja Realmente Excluir?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.LabelFor(model => model.nomeAssistencia, "Nome Assistencia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeAssistencia)
        </dd>

        <dt>
            @Html.LabelFor(model => model.cidadeAssistencia, "Cidade")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidadeAssistencia)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ruaAssistencia, "Rua")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruaAssistencia)
        </dd>

        <dt>
            @Html.LabelFor(model => model.numeroAssistencia, "Nº")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroAssistencia)
        </dd>

        <dt>
            @Html.LabelFor(model => model.telefoneAssistencia, "Telefone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefoneAssistencia)
        </dd>

        <dt>
            @Html.LabelFor(model => model.emailAssistencia, "Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailAssistencia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retornar", "Index")
        </div>
    }
</div>
