
@model PagedList.IPagedList<SistemaPatrimonio.Models.Patrimonio>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1> <small> </small></h1>
    <a href="@Url.Action("Cadastrar","Patrimonio")" class="btn btn-sm btn-primary">Cadastrar Patrimonio</a>
</div>
<div class="alert-success">@TempData["aviso"]</div>
<div class="row">
    
    <div class="col-lg-12">
        
        <div class="panel panel-default">
            
            <div class="panel-heading">
                @using (Html.BeginForm("Index", "Patrimonio", FormMethod.Get))
                {
                    <p>
                        Busca Por Número Patrimonio: @Html.TextBox("buscaPatrimonio")
                            <button type="submit" value="Busca" class="glyphicon glyphicon-search" />
                    </p>
                }
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Número Patrimonio</th>
                            <th>Setor</th>
                            <th>Equipamento</th>
                            <th>Funcionario</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.numeroPatrimonio)</td>
                                <td>@Html.DisplayFor(modelItem => item.setorPatrimonio)</td>
                                <td>@Html.DisplayFor(modelItem => item.equipamentoPatrimonio)</td>
                                <td>@Html.DisplayFor(modelItem => item.funcionarioPatrimonio)</td>
                                <td style="width: 100px">
                                    <a href="@Url.Action("Editar", "Patrimonio", new { NumeroPatrimonio = item.numeroPatrimonio })" class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <button class="btn btn-danger excluir" data-id="@item.numeroPatrimonio">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="modal" id="modal">

</div>

Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
 new
 {
     page
 }))

@section scripts{
    <script>
          $(function () {
              $(".excluir").click(function () {
                  var id = $(this).attr("data-id")
                  $("#modal").load("../Patrimonio/Excluir?numeroPatrimonio="+id, function () {
                      $("#modal").modal();
                  })
              });
          });
    </script>
}






