@model SistemaPatrimonio.Models.Manutencao

@{
    ViewBag.Title = "Alterar";
}

<h2>Manutenção</h2><!--Titulo de Entidade da Pagina-->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Alterar</h4><!--Titulo de função da Pagina-->
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <!--Linha Patrimonio-->
        <div class="form-group">
            @Html.LabelFor(model => model.patrimonio_idPatrimonio, "Numero Patrimonio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.patrimonio_idPatrimonio, new { htmlAttributes = new { @class = "form-control" ,disabled = "disabled"} })
            </div>
        </div>

        
        <!--Linha Status-->
        <div class="form-group">
            @Html.LabelFor(model => model.statusManutencao,"Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            @Html.DropDownList("statusManutencao", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.statusManutencao, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Linha Nome Assistencia-->
        <div class="form-group">
            @Html.LabelFor(model => model.assistencia_idAssistencia,"Nome Assistencia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("assistencia_idAssistencia", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.assistencia_idAssistencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Linha Problema-->
        <div class="form-group">
            @Html.LabelFor(model => model.problemaManutencao,"Problema", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.problemaManutencao, 5, 200, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.problemaManutencao, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Linha Salvar-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<!--Linha Retornar-->
<div>
    @Html.ActionLink("Retornar", "Index")
</div>
