
@model PagedList.IPagedList<SistemaPatrimonio.Models.Manutencao>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1> <small> </small></h1>
    <a href="@Url.Action("Cadastrar","Manutencao")" class="btn btn-sm btn-primary">Cadastrar Manutenção</a>
</div>
<div class="alert-success">@TempData["aviso"]</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @using (Html.BeginForm("Index", "Manutencao", FormMethod.Get))
                {
                    <p>
                        Busca Por Número Patrimonio: @Html.TextBox("buscaManutencao")
                        <button type="submit" value="Busca" class="glyphicon glyphicon-search" />
                    </p>
                }
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Data Manutenção</th>
                            <th>Status</th>
                            <th>Problema</th>
                            <th>Numero Patrimonio</th>
                            <th>Nome Assistencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.dataManutencao)</td>
                                <td>@Html.DisplayFor(modelItem => item.statusManutencao)</td>
                                <td>@Html.DisplayFor(modelItem => item.problemaManutencao)</td>
                                <td>@Html.DisplayFor(modelItem => item.patrimonio_idPatrimonio)</td>
                                <td>@Html.DisplayFor(modelItem => item.assistenciaManutencao)</td>
                                <td style="width: 100px">
                                    <a href="@Url.Action("Editar", "Manutencao", new { idManutencao = item.idManutencao })" class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />

Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
 new
 {
     page
 }))



