@model SistemaPatrimonio.Models.Equipamento

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Equipamento</h2><!--Titulo de Entidade da Pagina-->

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cadastrar</h4><!--Titulo de função da Pagina-->
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <!--Linha nome do equipamento-->
        <div class="form-group">
            @Html.LabelFor(model => model.nomeEquipamento, "Nome do Equipamento",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomeEquipamento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomeEquipamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Linha Tipo de Equipamento-->
        <div class="form-group">
            @Html.LabelFor(model => model.tipoEquipamento, "Tipo de Equipamento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tipoEquipamento", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipoEquipamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Linha Descrição do Equipamento-->
        <div class="form-group">
            @Html.LabelFor(model => model.descricaoEquipamento,"Descrição do Equipamento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descricaoEquipamento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descricaoEquipamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Linha Botão Salvar-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<!--Linha Retornar-->
<div>
    @Html.ActionLink("Retornar", "Index")
</div>
