@model SistemaPatrimonio.Models.Setor

@{
    ViewBag.Title = "Excluir";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <h2>Deseja Realmente Excluir?</h2>
            <div>
                <hr />
                <dl class="dl-horizontal">

                    <!--Nome do Setor-->
                    <dt>
                        @Html.LabelFor(model => model.nomeSetor, "Nome do Setor")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nomeSetor)
                    </dd>

                    <!--localização do setor-->
                    <dt>
                        @Html.LabelFor(model => model.localizacaoSetor, "Localização do Setor")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.localizacaoSetor)
                    </dd>

                </dl>

            </div>
        </div>
        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Sim" class="btn btn-default" />
                    <a href="@Url.Action("Index","Setor")" class="btn btn-default">Não</a>
                </div>
            }

        </div>
    </div>
</div>