@model SistemaPatrimonio.Models.Funcionario

@{
    ViewBag.Title = "Excuir";
}

<h2>Funcionario</h2>
<div>
    <h4>Excluir</h4><!--Titulo de função da Pagina-->
    <hr />
    <dl class="dl-horizontal">
        
        <!--nome do funcionario-->
        <dt>
            @Html.LabelFor(model => model.nomeFuncionario,"Nome Funcionario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeFuncionario)
        </dd>

        <!--telefone do funcionario-->
        <dt>
            @Html.LabelFor(model => model.telefoneFuncionario,"Telefone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefoneFuncionario)
        </dd>

        <!--email do funcionario-->
        <dt>
            @Html.LabelFor(model => model.emailFuncionario,"Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailFuncionario)
        </dd>

    </dl>

    <!--Linha retornar-->
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Retornar", "Index")
        </div>
    }
</div>
